body {
    background-color: #7A7257;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #F093FA;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 50px;
}

.paint-area {
    background-color: white;
    width: 640px;
    height: 640px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.grid {
    outline: 1px solid #f5f4f4;
}

.btn-area {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}

.btn {
    background-color: #577A71;
    color: #93FAE0;
    padding: 5px 8px;
    border-radius: 8px;
    border: 0;
    font-size: 20px;
}

.range-area {
    margin-bottom: 10px;
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.range-slider {
    width: 200px;
}

.explanation {
    color: #93FAE0;
    font-size: 15px;
    margin-bottom: 10px;
}

#instruction {
    font-weight: 900;
    font-size: 18px;
}